.buttonA {
    padding: 1rem 2rem;
    border: 1px solid black;
    max-width: fit-content;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 900;
}

.buttonA:hover {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.buttonA:hover p {
    opacity: 1;
}
