.navContainer {
    padding: 1rem 0;
}

form {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    padding-top: .8rem;
}

label {
    cursor: text;
    color: pink;
}

form div {
    display: flex;
    gap: 1rem;
    color: green;
}
