
/* Need to figure out how to make it so image doesn't bleed over on right side */
.container {
    /* background-color: pink; */
    word-wrap: break-word;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 5px 5px 5px lightgrey;
    border: .5px solid gray;
    box-sizing: border-box;
    max-width: 600px;
}


.loadingRedditThumbnail {
    width: 50px;
    height: 50px;
    /* background-color: aqua; */
}

.imageContainer {
    box-sizing: border-box;
    max-width: 599px;
    width: 100%;
    height: 400px;
    position: absolute;
    overflow: hidden;
    background-color: lightgrey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    opacity: .9;
    z-index: -1;
}

.imageContainer img {
    position: relative;
    box-sizing: border-box;
    display: block;
    min-width: 100%;
    min-height: 400px;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 5px;
}

.scoreContainer {
    position: absolute;
    display: flex;
    max-width: 600px;
    width: 100%;
    height: 400px;
    justify-content: flex-end;
    align-items: flex-end;
}

.score {
    text-align: right;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    width: fit-content;
    height: fit-content;
    font-size: 1.5rem;
    padding: .5rem 2rem;
    margin: 2rem;
}

.score * {
    margin: 0;
}

.scoreArrows:hover {
    cursor: pointer;
    opacity: .5;
}

.authorContainer {
    position: absolute;
    display: flex;
    max-width: 599px;
    width: 100%;
    height: 400px;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 0;
}

.authorContainer * {
    margin: 0;
}

.author {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 0 1rem;
    padding-left: 1.5rem;
    border-bottom-left-radius: 2.5rem;
    border-top-right-radius: 17px;
    margin-right: 1px;
}

.postInfo {
    padding: 2rem;
    padding-top: 405px;
}
.postInfo p:nth-child(1) {
    font-size: 1.5rem;
}